html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: ivory;
}

/*
以下属性是必要的，以避免在尝试拖放模型时出现移动问题
    和使用 3D 网站时出现的移动问题，因为移动手势可能会触发页面重新加载或返回操作
    因为移动手势可能会触发页面重新加载或返回操作，从而带来糟糕的体验。
*/
.r3f {
    touch-action: none;
}

.htmlScreen iframe {
    width: 1024px;
    height: 670px;
    border: none;
    border-radius: 20px;
    background-color: black;
}
.phoneScreen iframe{
    width: 165px;
    height: 336px;
    border: none;
    border-radius: 20px;
    background-color: black;
}
